{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="{% static 'blog/style.css' %}">
    <title>SimpleBlog</title>
</head>
<body>
    <div class="container">
        <div class="main">
            <h1><a href="{% url 'blog-main' %}"><span>Simple</span><span class="whitefix">Blog</span></a></h1>
            {% block main_content %}
            {% endblock %}
        </div>
        <div class="sidebar">
            <h1>Menu</h1>
            <div class="sidebar-content">
                <a class="button" href="{% url 'blog-profile' user.id %}">My profile</a>
                <a class="button" href="{% url 'blog-post-new' %}">Create post</a>
                <a class="button" href="{% url 'authentication-logout' %}">Logout</a>
            </div>
        </div>
    </div>
</body>
</html>